<footer class="footer" id="contact">
  <div class="container footer-container">
    <p class="footer-text">
      Estou diponível para novos projetos no momento. <br />
      Entre em conatato comigo e marcaremos uma conversa</p>
    <ul class="footer-contact">
      <li><a [href]="'mailto:' + emailAddress">contatodnadevelopersoftware&#64;gmail.com</a> </li>
      <li><a href="tel:+5519989327757">(19) 98932-7757</a></li>
      <li><a href="https://www.instagram.com/dnadevelopersoftware/">&#64;instagram</a></li>
      <li><a href="https://www.facebook.com/josepaulo.galdino.50/">&#64;facebook</a></li>
      <li><a href="https://www.linkedin.com/in/paulo-galdino-b3876ba6/">&#64;linkedin</a>
    </ul>
    <p class="footer-copy">&copy;{{currentYears}}.DNA developersoftware do Brasil.  Todos os direitos reservados</p>
  </div>
</footer>
