:root{
  // grey variables
  --g1: #f5f5f5;
  --g2: #f0f0f0;
  --g3: #e0e0e0;
  --g4: #cccccc;
  --g5: #b8b8b8;
  --g6: #a3a3a3;
  --g7: #8f8f8f;
  --g8: #7a7a7a;
  --g9: #666666;
  --g10: #525252;
  --g11: #3d3d3d;
  --g12: #292929;
  --g13: #141414;

  // green variables
  --gr1:#70da1c;
  --gr2:#ccf235;
}
