/* styles.css */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.small-image {
  width: 6.25rem;
  height: auto;
}

.medium-image {
  width: 15.625rem;
  height: auto;
}

.large-image {
  width: 31.25rem;
  height: auto;
}

@media (max-width: 62.5rem) {
  .responsive-image {
    width: 100%;
  }
}
@media (max-width: 50rem) {
  .responsive-image {
    width: 70%;
  }
}
@media (min-width: 25rem) {
  .responsive-image {
    width: 50%;
  }
}
