<section id="experience" class="experience" aria-label="experience">

  <h2 class="eperience-subtitle">Experiência</h2>

  <div>
    <p class="experience-title">
      Desenvolvimento de pequenos projetos estáticos, como o Bikcraft onde foram utilizados <strong>HTML</strong>, <strong>CSS</strong> e <strong>JavaScript</strong> no <strong>UX</strong> e <strong>UI Design</strong> do projeto. Para projetos dinâmicos, utilizo o <strong>C#</strong>, <strong>.Net</strong> e <strong>ASP.NET Core</strong>.
      Tecnologias utilizadas para o sistema, "A ORIGINAL" ao qual necessitou uma maior complexidade e integração entre frontend e backend.
    </p>

    <div class="experience-project-content">

      <span class="experience-project-year">2024</span>

      <h3 class="experience-project-title">Financeiro 2024</h3>
      <span class="experience-project-title">Desenvolvedor Fullstack</span>

      <p class="experience-project-text">
        No projeto Financeiro, desenvolvi a arquitetura da modelagem das camadas DDD, o banco de dados com ERM, HTML, CSS e o JavaScript e Design do site.
      </p>
      <ul class="academy-skills">
        <li>Html</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>UI Design</li>
        <li>UX Design</li>
        <li>SQL Server</li>
        <li>ASPNET Core</li>
      </ul>
    </div>

    <div class="experience-project-content">

      <span class="experience-project-year">2023</span>

      <h3 class="experience-project-title">KidLicia</h3>
      <span class="experience-project-title">Desenvolvedor Senior</span>

      <p class="experience-project-text">
        No projeto Kid Lícia, desenvolvi a engenharia da arquitetura para modelagem das camadas, o banco de dados, desenvolvi HTML, CSS e o JavaScript e Design do site.
      </p>
      <ul class="academy-skills">
        <li>Html</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>UI Design</li>
        <li>UX Design</li>
      </ul>
    </div>

    <div class="experience-project-content">

      <span class="experience-project-year">2023</span>

      <h3 class="experience-project-title">Animais Fantásticos</h3>
      <span class="experience-project-title">Desenvolvedor Pleno</span>

      <p class="experience-project-text">
        No projeto Animais Fantásticos, o HTML, CSS e o JavaScript e Design do site.
      </p>
      <ul class="academy-skills">
        <li>Html</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>UI Design</li>
        <li>UX Design</li>
      </ul>
    </div>

    <div class="experience-project-content">

      <span class="experience-project-year">2022</span>

      <h3 class="experience-project-title">Brafé</h3>
      <span class="experience-project-title">Desenvolvedor estagiário</span>

      <p class="experience-project-text">
        No projeto Brafé, tive a oportunidade de por em prática o conhecimento aprendifo para desenvolver o HTML, CSS e o JavaScript e Design do site.
      </p>
      <ul class="academy-skills">
        <li>Html</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>UI Design</li>
        <li>UX Design</li>
      </ul>
    </div>

  </div>

</section>