<section id="experience" class="experience" aria-label="experience">
  <div class="eperience-subtitle">
    <h2>Experiência</h2>
  </div>
  <div>
    <p class="experience-title">
      Desenvolvimento de pequenos projetos estáticos, como o Bikcraft onde foram utilizados <strong>HTML</strong>, <strong>CSS</strong> e <strong>JavaScript</strong> no <strong>UX</strong> e <strong>UI Design</strong> do projeto. Para projetos dinâmicos, utilizo o <strong>C#</strong>, <strong>.Net</strong> e <strong>ASP.NET Core</strong>.
      Tecnologias utilizadas para o sistema, "A ORIGINAL" ao qual necessitou uma maior complexidade e integração entre frontend e backend.
    </p>

    <span class="experience-project-year">2024</span>
    <div class="experience-project content">
      <div class="experience-project title">
        <h3>Financeiro 2024</h3>
      </div>
      <span class="experience-project-title">Desenvolvedor Fullstack</span>
      <p class="experience-project-text">
        No projeto Financeiro, desenvolvi a arquitetura da modelagem das camadas DDD, o banco de dados com ERM, HTML, CSS e o JavaScript e Design do site.
      </p>
    </div>
  </div>
  <ul>
    <li>Html</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>UI Design</li>
    <li>UX Design</li>
    <li></li>
  </ul>
</section>
