<section class="academic" id="academic" aria-label="academic">
  <div class="container academic-container">
    <h2 class="academic subtitle">Formação</h2>
    <div class="academic-content">
      <p class="academic-text">
        Minha experiência acadêmica, tenho formação superior em <strong>Análise e Desenvolvimento de Softwares</strong> que fiz na <strong>FATEC de Americana</strong>. Além disso, sempre me mantenho atualizado com cursos intensivos online...
      </p>
      <ul class="academic-list">
        <li class="academic">
          <span class="academic-type-course">Tecnólogo</span>
          <h3 class="academic-courses">Análise e Desenvolvimento de Software</h3>
          <span class="academic-institution">Fatec da Americana</span>
        </li>
      </ul>
      <div class="academic-extra-courses">
        <div class="courses">
          <h3>Cursos Intensivos</h3>
          <ul>
            <li>HTML e CSS para iniciantes <span>23 horas</span> </li>
            <li>CSS Avaçadp Posicionameto <span>18 horas</span> </li>
            <li>CSS Flexbox <span>6 horas</span> </li>
            <li>Adobe XD <span>6 horas</span> </li>
            <li>Web Design completo<span>44 horas</span> </li>
            <li>JavaScript completo <span>74 horas</span> </li>
            <li>WordPress como CMS<span>23 horas</span> </li>
          </ul>
        </div>
        <div class="languages-coursea">
          <h3>Idiomas</h3>
          <ul>
            <li>Inglês<span> / Intermediário </span></li>
            <li>Francês<span> / Básico </span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
